{% extends '_base.html' %}

{% block title %}{{ crudobject.title }}{% endblock title %}

{% block content %}
  <div class="book-detail">
    {% if crudobject.crudcover %}
    <img class="bookcover" src="{{ crudobject.crudcover.url}}" alt="{{ crudobject.title }}">
    {% endif %}
    <h2><a href=""> {{ crudobject.title }}</a></h2>
    <p>Author: {{ crudobject.author }}</p>
    <p>{{ crudobject.body|linebreaks }}
    </p>
  </div>
  <br>
  <br>

  <form method="POST" class="card">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Send</button>
  </form>
        </div>
  {% if crudobject.comments %}
    <div>
        {% with crudobject.comments.count as total_comments %}
        <h2>
           {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
        {% endwith %}
        <ul>
            {% for comment in crudobject.comments.all %}
            Comment {{ forloop.counter }} by {{ comment.author }}
            {{ comment.created }}
            <li>{{ comment.text|linebreaks }}</li>
            {% endfor %}
        </ul>
    </div>
  {% else %}
    <p>No comments yet.<p>
  {% endif %}

  <a href=""><button class="btn btn-success">Example button</button></a>


{% endblock content %}>